form {
  margin-left: 20px;
  overflow: hidden;
}

#formDiv {
  border-style: solid;
  margin-right: 900px;
  margin-left: 20px;
}

/* div {
  border-style: solid;
} */

#forum>input {
  margin: 3px;
}

#forumfooter {
  margin: 2px; 
}
